* {
    padding: 0;
    margin: 0;
}
.card-post {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
.card-likes {
    height: 30px;
}
.btn-like {
    border: none;
    color: #FEC9CA;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid #FEC9CA;
    border-radius: 5px;
    padding: 2px;
}
.content-likes {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.likes-quantity {
    color: #A2A8B1;
}
.btn-add {
    display: flex;
    justify-content: flex-end;
}
.publications {
    margin-top: 40px;
}